body{
    background: #e3e3e3;
    background: radial-gradient(circle,rgba(227, 227, 227, 1) 50%, rgba(0, 0, 0, 1) 200%);
}

.flex{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.text{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 600px;
}

.img{
    width: 600px;
    height: 600px;
}