body{
    background: #000000;
    background: linear-gradient(-90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.flex{
display: flex;
justify-content: space-between;
}

.img{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.cabeca{
font-family: 'Times New Roman', Times, serif;
font-size: 100px;
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;
color: crimson;
}

.nome{
    padding-left: 100px;
    padding-top: 200px;
    font-size: 70px;
    margin: 1px;
}

.mini-mensagem{
    padding-left: 100px;
}